@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap");

.swiper-pagination {
  bottom: 20;
  display: flex;
  align-items: baseline;
  justify-content: center;
}

/* Pagination Dots */
.swiper-pagination-bullet {
  background-color: #cc3333 !important; /* Default dot color */
  opacity: 0.6 !important; /* Optional: make it a bit transparent */
  margin: 10px 5px !important;
}

.swiper-pagination-bullet-active {
  background-color: #cc3333; /* Active dot color */
  opacity: 1; /* Full opacity for active dot */
}

/* Navigation Arrows */
.swiper-button-prev,
.swiper-button-next {
  color: #cc3333;
  opacity: 1; /* Color of the arrow buttons */
}

/* Change color on hover */
.swiper-button-prev:hover,
.swiper-button-next:hover {
  color: #cc3333;
  opacity: 0.6; /* Change color on hover */
}

.swiper-button-prev,
.swiper-button-next {
  width: 10px; /* Set arrow width */
  height: 10px; /* Set arrow height */
  font-size: 10px; /* Set the font size to increase arrow icon size */
}
